:root {
	--debug-borders: none;
	--bar-color: #888;
}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background-color: black;
}

p {
	margin: 0;
	text-align: center;
	vertical-align: middle;
	width: inherit;
	/*word-wrap: normal;*/
	color: white;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

.picture-scroll {
	border: var(--debug-borders);
}

.bar-top {
	background-color: var(--bar-color);
	margin: 0 auto;
	/*position: absolute;*/
}

.bar-top-text {
}

.picture-window {
	position: relative;
	margin: auto;
}

.bar-bottom {
	background-color: var(--bar-color);
	position: absolute;
}

.bar-bottom-text {
}