:root {
	--debug-borders: 0px;
	--bar-color: #888;
}

html {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
}

.picture-scroll {
	border: var(--debug-borders);
	width: 100%;
}

.bar-top {
	background-color: var(--bar-color);
	margin: 0 10%;
}

.main-picture {
	border: var(--debug-borders);
	margin: 0 10%;
	background-image: url(../img/IMG_9098-2.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	padding-bottom: 100%;									/* need this to make sure the all of the background image is shown */
	height: 0;													/* need this to make sure the div doesn't go down past the image */
}

.bar-bottom {
	background: var(--bar-color);

}

.space-below {

}

footer {
	height: 10px;
}
