:root {
	--tile-width: 10vmax;
	--tile-height: 10vmax;
	--tile-line-height: 10vmax;
	--font-size: 8vmax;
}

body {
	margin: 0;
}

h1	{
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}

h2 {
	margin: 5px;
	text-align: center;
	font-size: 36px;
}

footer{
	margin: 0 10%;
	background: lightyellow;
	height: 100px;
}

#letter-bank {
	margin: 0 10%;
	padding: 10px;
	margin-top: 20px;
	background: lightyellow;
	height: 100px;
}

#letters {
	font-size: 28px;
	line-height: 28px;
}

#board {
	margin: 50px 10%;
	/*border: 1px solid lightgrey;*/
}

.row {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	justify-content: center;
}

.tile {
	flex: 1 1 auto;
	margin: 0;
	border: 1px dashed lightgrey;
	text-align: center;
	vertical-align: middle;
	max-width: var(--tile-width);
	height: var(--tile-height);
	line-height: var(--tile-line-height);
	font-size: var(--font-size);
}

.cursor {
	background: khaki;
}

.highlight {
	background: lightyellow;
}

/*.row-0 .col-1 {
	background: yellow;
}*/