:root {
	--tile-width: 10vmin;
	--tile-height: 10vmin
	--tile-line-height: 10vmin
	--font-size: 10vmin
}

body {
	margin: 0;
}

h1	{
	margin: 20px auto;
	text-align: center;
}

#letter-bank {
	margin: 0 10%;
}

#board {
	margin: 0 10%;
}

.row {
	display: flex;
	flex-direction: row;
	/*align-items: center;*/
	/*justify-content: center;*/
	position: /*absolute*/;
}

.tile {
	flex: 1 0 auto;
	margin: 0;
	border: 1px dashed lightgrey;
	display: ;
	font-size: 3em;
	text-align: center;
	vertical-align: middle;
	width: var(--tile-width);
	height: var(--tile-height);
	line-height: var(--tile-line-height);
	font-size: var(--font-size);
}

.cursor {
	background: khaki;
}

.highlight {
	background: lightyellow;
}

/*.row-0 .col-1 {
	background: yellow;
}*/