/*--------------------------------------------------------------------------------*/
/* Basic Setup																							 */
/*--------------------------------------------------------------------------------*/
/** {
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}*/

:root
{
  --debug-mainBorder: 1px solid green;
}

html
{
  margin: 0;
  padding: 0;
}

body
{
  font-family: sans-serif;

  background-color: black;
}

a
{
  display: inline-block;

  transition: all .4s;
  /*width: 100%;*/
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;

  color: white;
  /*padding-bottom: 2px;*/
}



.background
{
  background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(../img/chalkBoardBackground.png);
  background-position: 0 0;
  background-size: 80% auto;
  /*height: 100vh;*/
}

header
{
  margin: 1px;

  border: var(--debug-mainBorder);
}

/*--------------------------------------------------------------------------------*/
/* Nav																									 */
/*--------------------------------------------------------------------------------*/

nav
{
  /*border: 1px solid green;*/
  padding: 50px 50px 50px 50%;
}

.nav-main
{
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  background: rgba(0,0,0,.8);
  /*border: 1px solid blue;*/
  background-color: white;

  flex-wrap: wrap;
  align-items: center;
}

.nav-main li
{
  padding: 10px 0;

  text-align: center;

  flex: 1;
}

.nav-main a
{
  font-size: 24px;

  border-bottom: 2px solid rgba(0,0,0,0);  /* keep things from moving around on hover / active*/
}

/*a:hover {
	background: rgba(0,0,0,0.3);
}*/

.nav-main a:hover,
.nav-main a:active
{
  border-bottom: 2px solid green;
}

/*--------------------------------------------------------------------------------*/
/* Content																									 */
/*--------------------------------------------------------------------------------*/

.content
{
  margin: 1px;

  border: var(--debug-mainBorder);
}


/*--------------------------------------------------------------------------------*/
/* Footer																									 */
/*--------------------------------------------------------------------------------*/

footer
{
  margin: 1px;

  border: var(--debug-mainBorder);
}

footer ul
{
  display: flex;
  /* top right bottom left*/

  padding: 50px 35% 50px 35%;

  list-style: none;

  background: rgba(0,0,0,.2);

  flex-wrap: wrap;
  align-items: center;
}

footer ul li
{
  text-align: center;

  border-bottom: 2px solid rgba(0,0,0,0);  /* keep things from moving around on hover / active*/

  flex: 1;
  justify-content: center;
}

footer ul li:hover,
footer ul li:active
{
  border-bottom: 2px solid green;
}

footer p
{
  padding: 20px;

  text-align: center;

  color: white;
}
