<!DOCTYPE html>

<html>
   <head>
      <meta charset="UTF-8">
      <title><%= h.siteName %></title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
   </head>
   <body>
   <nav class="nav navbar-default">
      <div class="container-fluid">
         <div class="navbar-header">
            <a class="navbar-brand" href="/"><%= h.siteName %></a>
         </div>
         <div>
            <ul class="nav navbar-nav">
               <li><a href="/register">Register</a></li>
               <li><a href="/login">Login</a></li>
               <li><a href="/profiles/new">New</a></li>
            </ul>
         </div>
         <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
            </ul>
         </div>
      </div>
   </nav>

   <% if (locals.flashes) { %>
      <% var types = Object.keys(locals.flashes); %>
      <% types.forEach((type) => { %>
         <% locals.flashes[type].forEach((message) => { %>
            <div class="flash flash-<%= type %>">
               <%= message %>
               <button class="flash-remove" onclick="this.parentElement.remove()">x</button>
            </div>
         <% }); %>
      <% }); %>
   <% }; %>