<% include ../partials/header %>

<h1>create profile page</h1>

<form action="/profiles" method="POST">
	<input type="text" name="firstName" placeholder="First Name" required>
	<input type="text" name="lastName" placeholder="Last Name">
	<input type="text" name="gender" placeholder="Gender">
	<input type="date" name="birthday" placeholder="Birthday">
	<input type="text" name="city" placeholder="City">
	<input type="text" name="state" placeholder="State">
	<input type="text" name="zip" placeholder="zip">
	<button id="phoneInput" type="button" onclick="addPhoneInput()">+</button>
	<button id="emailInput" type="button" onclick="addEmailInput()">+</button>

	<input type="text" name="headshot" placeholder="image url">

	<button>Submit</button>
</form>

<script type="text/javascript" src="/scripts/main.js"></script>

<% include ../partials/footer %>