<% include ../partials/header %>

<h1>create profile page</h1>

<form action="/profiles" method="POST">
	<input type="text" name="firstName" placeholder="First Name" required>
	<input type="text" name="lastName" placeholder="Last Name">
	<input type="text" name="gender" placeholder="Gender">
	<input type="date" name="birthday" placeholder="Birthday">
	<input type="text" name="city" placeholder="City">
	<input type="text" name="state" placeholder="State">
	<input type="text" name="zip" placeholder="zip"><br>
	<button id="ethnicitiesInput" type="button" onclick="addEthnicityInput()">+</button><br>
	<button id="skillsInput" type="button" onclick="addSkillInput()">+</button><br>
	<button id="filmsInput" type="button" onclick="addFilmInput()">+</button><br>
	<button id="phonesInput" type="button" onclick="addPhoneInput()">+</button><br>
	<button id="emailsInput" type="button" onclick="addEmailInput()">+</button><br>
	<button id="headshotsInput" type="button" onclick="addHeadshotInput()">+</button><br>
	<button>Submit</button>
</form>

<script type="text/javascript" src="/scripts/main.js"></script>

<% include ../partials/footer %>